h1{ 
            color: #000;
            background-color: #ffff00;
        }

h2{
    color: rgb(0, 0, 0);
    text-decoration: blue overline;
}

p{
    color: rgb(0, 0, 0);
    background-color: #00ffff;
}

h3{
    color: rgb(0, 0, 0);
}

button{
    color: #ffffff;
    background-color: #0000ff;
}  

h1{
    text-align: center;
    text-decoration:wavy rebeccapurple underline;
    letter-spacing: 50px;
    font-family: avant garde, didot, sans-serif;
}

h3{
    text-align: start;
    text-decoration: line-through;
}

p{
    text-align: right;
    font-size: 15px; 
    font-family: Impact;
}

p{
    text-align: justify;
    font-weight: bold;
    line-height: 2.5;
}

h2{
    font-weight: normal ;
}

a{
    text-decoration: none;
}